# Created by https://www.toptal.com/developers/gitignore/api/dotnetcore
# Edit at https://www.toptal.com/developers/gitignore?templates=dotnetcore

### DotnetCore ###
# .NET Core build folders
bin/
obj/

# Database files
*.db
*.sqlite
*.sqlite3

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# IDE files
.vs/
.vscode/

# Common node modules locations
/node_modules
/wwwroot/node_modules

# Upload folders (user content)
/wwwroot/uploads/

# End of https://www.toptal.com/developers/gitignore/api/dotnetcore